div
  div(plug="layout")
    .pdl-layout
      div(data-type="layout")
      div(data-type="render")
        .d-flex
          .flex-grow-1
            .data(ld-each="data")
              div(ld="name")
              div(ld="bar")
          div(style="position:sticky;margin-left:1em;margin-right:.25em;" +
          "cursor:pointer;white-space:nowrap;top:0;right:0;align-self:flex-start;height:auto;")
            div(ld="select",data-name="all") 全選
            div(ld="select",data-name="none") 全不選

  style(type="text/css"): :stylus
    .data
      padding-bottom: 1em
    .pdl-layout
      overflow-y: scroll
      user-select: none
      [data-type=render]
        overflow-y: visible
        height: auto
      .data
        cursor: pointer
      div[ld=bar]
        height: .5em
        border-radius: 2px
  script(type="@plotdb/block"): include:lsc index.ls
